@model TeacherViewModel
@{
    ViewData["Title"] = "Intervention";
    ViewData["controllerBefore"] = "Teacher";
    ViewData["pageBefore"] = "Primary";
}

<div class="container">
    <div class="content d-flex flex-column justify-content-around flex-wrap align-items-center">
        <h2>Intervention for students</h2>
        <br>

        <div class="index">
            <h2>
                Wellbeing key:
            </h2>
            <div class="row d-flex justify-content-around">
                <div class="Social"></div>
                Social
                <div class="Learning"></div>
                Learning
                <div class="Environmental"></div>
                Environmental
                <div class="Communication"></div>
                Communication
            </div>
        </div>
    </div>
    @*<div class="row d-flex justify-content-start">

        @foreach (var interventions in Model.iM)
        {
            <div class="card">
                <div class="card-header card-header-@interventions.interventionKey"></div>
                <div class="card-body">
                    <h3 class="card-title d-flex justify-content-center">@interventions.title</h3>
                    <p class="card-text">@interventions.description</p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="@interventions.articleLink"><i class="fa fa-info"></i></a>
                    <i class="fa fa-book"></i>
                    <i class="fa fa-download"></i>
                </div>
            </div>
        }
    </div>*@
    <div class="row intervention-tab">
        <ul class="nav flex-column col-sm-3 list-group">
            @{int first_item_counter = 0;}
            @foreach (var interventions in Model.iM)
            {
                <li class="nav-item nav-item-@interventions.interventionKey list-group-item @(first_item_counter==0?"hide-right-border":"")" id="list-item-@interventions.id" onclick="hideBorder(this.id)">
                    <a class="nav-link d-flex justify-content-between" id="nav-@interventions.id-tab" data-toggle="tab" href="#nav-@interventions.id" role="tab" aria-controls="nav-@interventions.id" aria-selected="false">
                        <b>@interventions.title</b>
                        <h5 style="@(first_item_counter==0?"visibility:hidden":"")">&#10095;</h5>
                    </a>
                </li>
                first_item_counter++;
            }

        </ul>
        <div class="tab-content col-sm-9" id="myTabContent">
            @{first_item_counter = 0;}
            @foreach (var interventions in Model.iM)
            {
                
            <div class="tab-pane fade @(first_item_counter==0?"show active":"")" id="nav-@interventions.id" role="tabpanel" aria-labelledby="nav-@interventions.id-tab">

                <h3 class="card-title d-flex justify-content-center">@interventions.title</h3>
                <br />
                @interventions.description
                <br />

                <div class="row icon-group d-flex justify-content-around flex-wrap align-content-end">
                    <i class="fa fa-file-pdf-o"> <span class="icon-text"> Download PDF</span></i>
                    <i class="fa fa-newspaper-o"> <span class="icon-text"> View Article</span></i>
                </div>
                <br />
            </div>
            first_item_counter++;
            }
        </div>
    </div>
</div>

<script>
    window.location.hash = '#nav';

    hideBorder = function (theId) {
        var hiddenRightBorder = document.getElementsByClassName("hide-right-border");
        while (hiddenRightBorder.length) {
            hiddenRightBorder[0].childNodes[1].childNodes[3].style.visibility = 'visible';
            hiddenRightBorder[0].classList.remove("hide-right-border");
        }
        document.getElementById(theId).classList.add("hide-right-border");
        document.getElementById(theId).childNodes[1].childNodes[3].style.visibility = 'hidden';
    }

</script>
