@model InterventionsModified
@{
    List<InterventionKey> Keys  = new List<InterventionKey>
        {
                    new InterventionKey{Key="Social"},
                    new InterventionKey{Key="Learning"},
                    new InterventionKey{Key="Environmental"},
                    new InterventionKey{Key="Communication"},
                };
}

<div class="container">
    <br />
    <br />
    <h4>InterventionsModified</h4>
    <hr />

    @if (ViewBag.Flag == 1)
    {
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateNewIntervention" asp-route-id="@ViewBag.id" asp-route-Data="@ViewBag.rout">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="BPTid" class="form-control" type="hidden"/>
                </div>
                <div class="form-group">
                    <label asp-for="title" class="control-label"></label>
                    <input asp-for="title" class="form-control" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div class="form-group">
                  
                    <label asp-for="interventionKey" class="control-label"></label><br />
                    
                    <select name="interventionKey" asp-for="interventionKey" asp-items="@(new SelectList(Keys, "Key", "Key"))"></select>
                   
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="articleLink" class="control-label"></label>
                    <input asp-for="articleLink" class="form-control" />
                    <span asp-validation-for="articleLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    }
    else
    {
        <p>Item has been added...</p>
    }
    <div>
        <a asp-action="Details_BPT" asp-route-id="@ViewBag.id" asp-route-Data="@ViewBag.rout">Back to List</a>
    </div>
</div>