@model TeachersGuide.Models.InterventionsModified
@{
    List<InterventionKey> Keys = new List<InterventionKey>
{
new InterventionKey{Key="Social"},
new InterventionKey{Key="Learning"},
new InterventionKey{Key="Environmental"},
new InterventionKey{Key="Communication"},
};
}

@{
    ViewData["Title"] = "Edit";
}

    @*<h2>Edit</h2>

    <hr />
    @if (ViewBag.Flag == 1)
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" asp-route-id="@ViewBag.id" asp-route-Data="@ViewBag.rout">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="id" />
                    <div class="form-group">
                        <input asp-for="BPTid" class="form-control" type="hidden" />

                    </div>
                    <div class="form-group">
                        <label asp-for="title" class="control-label"></label>
                        <input asp-for="title" class="form-control" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="interventionKey" class="control-label"></label><br />

                        <select name="interventionKey" asp-for="interventionKey" asp-items="@(new SelectList(Keys,"Key","Key"))"></select>

                    </div>
                    <div class="form-group">
                        <label asp-for="description" class="control-label"></label>
                        <input asp-for="description" class="form-control" />
                        <span asp-validation-for="description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="articleLink" class="control-label"></label>
                        <input asp-for="articleLink" class="form-control" />
                        <span asp-validation-for="articleLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <p>Item has been edited...</p>
    }
    <div>
        <a asp-action="Details_BPT" asp-route-id="@ViewBag.id" asp-route-Data="@ViewBag.rout">Back to List</a>
    </div>*@

<br />
<div class="container-fluid row">
    <br />
    <div class="col-sm-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit intervention</h6>
            </div>
            <div class="card-body">
                @if (ViewBag.Flag == 1)
                {
                    <div class="row">
                        <div class="col-md-10">
                            <form asp-action="Edit" asp-route-id="@ViewBag.id" asp-route-Data="@ViewBag.rout">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="id" />
                                <div class="form-group">
                                    <input asp-for="BPTid" class="form-control" type="hidden" />

                                </div>
                                <div class="form-group">
                                    <label asp-for="title" class="control-label"></label>
                                    <input asp-for="title" class="form-control" />
                                    <span asp-validation-for="title" class="text-danger"></span>
                                </div>
                                <div class="form-group">

                                    <label asp-for="interventionKey" class="control-label"></label><br />

                                    <select name="interventionKey" asp-for="interventionKey" asp-items="@(new SelectList(Keys,"Key","Key"))"></select>

                                </div>
                                <div class="form-group">
                                    <label asp-for="description" class="control-label"></label>
                                    <textarea asp-for="description" class="form-control" rows="5" cols="2"></textarea>
                                    <span asp-validation-for="description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="articleLink" class="control-label"></label>
                                    <input asp-for="articleLink" class="form-control" />
                                    <span asp-validation-for="articleLink" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-info" />
                                </div>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <p>Item has been edited...</p>
                }
                <div>
                    <a asp-action="Details_BPT" asp-route-id="@ViewBag.id" asp-route-Data="@ViewBag.rout"> << Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
