@model FeedBack
@{
    ViewData["Title"] = "Feedback";
}

<div class="container">
    <div class="content d-flex flex-column justify-content-around flex-wrap align-items-center">
        <h2>Feedback</h2><br>
        <div class="form-container">
            <form class="feedback-form" asp-action="feedback" method="post">
                <h3>How was your experience with the system?</h3>
                <div class="form-group" >
                    <div class="form-check" >
                        <label class="form-check-label" asp-for="@Model.Rate" >
                            <input type="radio" class="form-check-input" name="Rate" asp-for="@Model.Rate" value="Very Good" checked="checked">Very Good
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" asp-for="@Model.Rate" >
                            <input type="radio" class="form-check-input" name="Rate" asp-for="@Model.Rate" value="Good">Good
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" asp-for="@Model.Rate" >
                            <input type="radio" class="form-check-input" name="Rate" asp-for="@Model.Rate" value="Neutral">Neutral
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" asp-for="@Model.Rate" >
                            <input type="radio" class="form-check-input" name="Rate" asp-for="@Model.Rate" value="Bad">Bad
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" asp-for="@Model.Rate" >
                            <input type="radio" class="form-check-input" name="Rate" asp-for="@Model.Rate" value="Very Bad">Very Bad
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" asp-for="Comment"></textarea>
                </div>
                Limit is 400 words.

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-info ">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>